/* ---------Semantic UI style offsets--------- */

/* Offset round Navbar edge */
.menu{
    border-radius: 0% !important;
    margin: 0rem !important;
}
/* ------------------------ */

/* Make search bar edge round */
.ui.input>input {
    border-radius: 1rem !important;
}
/* -------------------------- */

/* ------------------------------------------ */