/* ---------Semantic UI style offsets--------- */

/* Offset round Navbar edge */
.menu{
    border-radius: 0% !important;
    margin: 0rem !important;
}
/* ------------------------ */

/* Make search bar edge round */
.ui.input>input {
    border-radius: 1rem !important;
}

textarea{
    border-radius: 1rem !important;
    width: 50% !important;
    Height: 20rem !important;

}
/* -------------------------- */

/* Move the Ghost Icon in the Navbar slightly to the right */
.ui.avatar.image{
    margin-right : .75rem !important;
}
/* ------------------------------------------------------- */

/* Round out the navbar buttons and make them a 'lil opaque */
.ui.button{
    border-radius: 2rem !important;
    opacity: 25% !important;
}
/* -------------------------------------------------------- */

/* Fix padding on items in Navbar */
.social-media-icons {
    padding: .5em !important;
}

.gt-home-button-navbar{
    padding: .5em .5em 0em .5em !important;
}
/* ------------------------------ */

/* ------------------------------------------ */